{% extends 'flatpages/default.html' %}
{% block title %} Добавление документа {% endblock title %}
<link href="{% url 'static/css/styles1.css' %}" rel="stylesheet" />
{% block content %}
<h4 class="title_2">{{ request.user.username }}, Вы добавляете документ</h4>
<p></p>
<form class="create-doc" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table-create">{{ form }}</table>
    <p></p>
    <input class="btn-add" type="submit"  value="Записать">
    <br>
</form>
{% endblock content %}