{% extends 'flatpages/default.html' %}
{% block title %}
Документы
{% endblock title %}
<link href="{% url 'static/css/styles2.css' %}" rel="stylesheet" />
{% block content %}

<table class="table-deitail">
    <thead>
       <tr>
           <th scope="col1">Название</th>
           <th scope="col1">Тип документа</th>
           <th scope="col1">№ документа</th>
           <th scope="col1">Дата документа</th>
        
             
       </tr>
    </thead>
    <tbody>
       <tr>
        <th scope="row1">{{ document.title }}</th>  
        <th scope="row1">{{ document.category }}</th>
        <th scope="row1">{{ document.number }}</th>
        <th scope="row1">{{ document.dateCreate|date:'d M Y'}}</th>
       </tr>
    </tbody> 
</table>
<hr>
        <!-- <div class="texts"> -->
            <h3 class="fw-bold">Описание</h3>
            <p class="text-break">{{ document.textDocument }}</p>
        <!-- </div>        -->
            <!-- <h3 class="fw-bold">Сканы документов</h3>    -->
<br>
<div class="foto">    
       {% for image in document.images.all %}
       <img src="{{ image.file.url }}" class="scale" overflow="hidden"  width="300px" height="auto"></img> 
       <form action="{% url 'delete-image' image.id %}" method="POST">
           {% csrf_token %}
           <button type="submit" class="delete_button" value="main_button">
            <img src="/static/delete.png" alt="Удалить" title="Удалить" width="16" height="16">
           </button>
           <!-- <input type="submit" label="X"> -->
       </form>

    {% endfor %}
</div>   
      <br>
      <!-- <br> -->
    
    <div class="mx-auto">
        <a href="{% url '_edit' document.id %}" class="btn-outline" role="button" >Редактировать документ</a>
        <p></p>
       
        <a href="{% url 'doc_delete' document.id %}" class="btn-secondary" role="button">Удалить документ
            <br>
        </a>
        <br>
    </div>  

{% endblock content %}