{% extends 'flatpages/default.html' %}
{% block title %}
Документы
{% endblock title %}
<link href="{% url 'static/css/styles1.css' %}" rel="stylesheet" />
{% block content %}

<h5 class="title_1">User: {{ request.user.username }}, ID={{ request.user.id }}, Ваших документов в базe: {{ paginator.count }}</h5>


   {% if documents %}
   <!-- Перед таблицей добавим форму для поиска -->
   <h4 class="title_2">Найти документ</h4>

<form class="search-doc" method="GET">
 {{ filter.form }}
<p></p>
<div class="d-grid gap-3 col-3 mx-auto">
    <input type="submit" class="btn-sm" value="Найти документ">
</div>   
</form>
    <br>
    <table class="table_blur">
        <thead>
           <tr>
               <th scope="col">Название</th>
               <th scope="col">Описание</th>
               <th scope="col">Тип документа</th>
               <th scope="col">№ документа</th>
               <th scope="col">Дата документа</th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}  <!--in documents filter.qs%} -->
           
           <tr>
               <th scope="row">
                    <a href="{% url 'document' document.id %}" class="link-dark">{{ document.title|truncatechars:12 }}</a>
               </th>  
               <th scope="row">{{ document.textDocument|truncatechars:18}}</th>
               <th scope="row">{{ document.category }}</th>
               <th scope="row">{{ document.number }}</th>
               <th scope="row">{{ document.dateCreate|date:'d M Y'}}</th>
           </tr>
           {% endfor %}
        </tbody>
    </table>
       
   {% else %}

       <h2 class="doc-none">Вы не сохранили ни одного документа!</h2>

   {% endif %}

   <div class="paginat">
   {% if is_paginated %}
   <span>Страницы: </span>
       <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
       {% if page_obj.has_previous %}
           <a href="?page=1">Первая</a><span>&nbsp;</span>
           <a href="?page={{ page_obj.previous_page_number }}"><</a>
       {% endif %}
   
       <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
       {% for num in page_obj.paginator.page_range %}
           {% if page_obj.number == num %}
               <a><b>{{ page_obj.number }}</b></a><span>&nbsp;</span>
           {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
               <a href="?page={{ num }}">{{ num }}</a><span>&nbsp;</span>
           {% endif %}
       {% endfor %}
   
       <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
       {% if page_obj.has_next %}
           <a href="?page={{ page_obj.next_page_number }}">></a><span>&nbsp;</span>
           <a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
       {% endif %}
     <span style ="color: grey;">&nbsp;&nbsp;(Показаны документы с {{ page_obj.start_index }} по {{ page_obj.end_index }})</span>
   {% endif %}
   </br></br>
   </div>
{% endblock content %}