<!DOCTYPE html>
<html lang="ru">
    <head>
        <title> Вход и регистрация</title>
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    
    <body> 
    <div class="frame_main">
        {% if not user.is_authenticated %}
        <div>
            <h2 class="title_main"><a class="reg-user" href="/">Вход и регистрация</a></h2>
        </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
    </body>
</html>